<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
<connectionStrings>
 <add name="db" connectionString="Server=DESKTOP-I2DRV6O;Database=QLHocSinh;Trusted_Connection=True;TrustServerCertificate=True;" />
 </connectionStrings>

</configuration>